#carouselExampleControls{
    width: 70%;
}

.card{
    width: 100%;
    display: flex;
    flex-direction:row;
}
.card-img-top{
    position:relative;
}



.cardlitle{
    position: relative;
    width: 33.3%;
    display: flex;
}

#bth{
    position: absolute;
    left: 35%;
    top: 80%;
}

.mainh1{
    color:#701010 ;
}

.p1{
    color: #707070;
}

.p2{
    color: #a80000;
}

.p3{
    color: #701010;
}